/* Navbar */

.navbar {
    .navbar-brand img {
        height: 45px;
    }
    .navbar-collapse {
        position: relative;
        z-index: 10;
        background: $background-color;
        @include media-breakpoint-down(lg){
            margin-left: -20px;
        }
    }
    .nav-item {
        input {
            font-size: $spacer * 0.8;
        }
        .search {
            .search-icon {
                right: 10px;
                top: 20%;
            }
        }
        .nav-link {
            color: $black !important;
            @include transition;
            font-size: $spacer * 1.1;
            &:hover,
            &.active {
                font-weight: 500;
            }
        }
    }
}
