/* Gallery Section */
.share {
    width: 40px;
    height: 40px;
    cursor: pointer;
}
#gallery-section {
    .gallery-card {
        .share {
            @extend .share;
            top: 5px;
            right: 5px;
        }
        img {
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
            height: 250px;
            width: 100%;
            cursor: pointer;
        }
    }
}

.modal {
    .image-details {
        img {
            height: 400px;
        }
    }
}
