/* Global Styles */

* {
    font-family: $font-family;
}

a {
    text-decoration: none !important;
}
body,
html {
    font-family: $font-family;
    height: 100%;
    overflow-x: hidden;
    color: $white;
}

body {
    background: $body-background;
    background-repeat: no-repeat;
}

.navbar-toggler,
.btn {
    &:active,
    &:focus {
        box-shadow: none !important;
    }
}

@mixin transition {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

@mixin center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-40 {
    height: 40px;
    width: 40px;
}
.img-30 {
    height: 30px;
    width: 30px;
}

.text-sm{
    font-size: $spacer * 0.8;
}
.text-xs{
    font-size: $spacer * 0.7;
}
.text-xxs{
    font-size: $spacer * 0.6;
}
